<!DOCTYPE HTML>
<html>
  <head>
    <title></title>


      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		  integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>

      <link rel="stylesheet" href="{{ static_url('chat.css') }}"/>

    <script src="{{ static_url('chat.js') }}" type="application/javascript"></script>


  </head>
  <body>

  <div class="container bg_h">
    <div class="row bg_h">
        <!-- 左メニュー -->
        <div class="col-md-2 bg_h" id="left_mnu">
            <div id="chatroom_list">
            <button id="del_btn">dom操作テスト</button>
            </div>
            <a href="/logout">logout</a>
        </div>
        <!-- チャットフィールド -->
        <div class="col-md-10 bg_h">
            <div class="row bg_h">
                <!-- テキストフィールド -->
                <div class="col-xs-12 chat_text_field" id="text_field">
                    <div id="a">{{ uname }}</div>
                </div>
                <!-- 送受信入力フィールド -->
                <div class="col-xs-12 chat_text_form">
                    <div>to:<input type="text" id="to_send" value="thirao"></div>
                    <span id = "b" style="width:80%"><input type="text" id="msgbody" style="width:80%;height:80%;"></span>
                <button type= "button" onclick="sendbutton()" style="width:15%;height:80%;">送信</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


 </body>
</html>